@model Jan_2019_Past_Paper.Models.Fine

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Fine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LicensePlate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LicensePlate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Offense)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Offense)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OffenseDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OffenseDetail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OffenseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OffenseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OffenseTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OffenseTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Outstanding)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Outstanding)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
